<!DOCTYPE html>
<html>

<head>
    <title>Error del servidor</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/404.css">
</head>

<body>
    <div>
        <h1>You have two choice:</h1>
        <span><h1><%= mensaje %> or <%= mensaje1 %> </h1></span> 
    </div>
</body>

</html>