<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/img/uchiha.png" type="image/x-icon">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="http://anijs.github.io/lib/anicollection/anicollection.css">
    <script src="anijs-min.js"></script>
    <title>Login</title>
</head> 

<body>
   <%- include("headerinicial") %> 

    <div id="entrar"  data-anijs="if: click, do: rollOut animated, to: .demo1, after: $removeAnim">
        <h1>Entrar</h1>
    </div>

    <div class="log">
        <form action="login_post" method="POST">
            <label>Usuario:</label>
            <input type="text" name="email">
            <label>Contraseña:</label>
            <input type="password" name="contraseña" id="">
            <input type="submit" value="conectar"> 
        </form>
        <% if (message != null){%>
        <h4><%= message %></h4>
        <% }%>
    </div>
</body>

</html>