<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="responder_mi_mismo.css">
    <title>Responderme-a-mi-mismo</title>
</head>

<body>

    <body>

       <%- include("header",{points:100}) %>

        <div class="titulo centro">
            <h1>¿Nintento Swicth ,PS4 o Xbox One?</h1>
        </div>

        <div class="principal">
            <div class="respuestas">
                <label>
                    <input type="radio">
                    Nintento Swicth
                </label>
            </div>

            <div class="respuestas">
                <label>
                    <input type="radio">
                    PS4
                </label>

            </div>

            <div class="respuestas">
                <label>
                    <input type="radio">
                    Xbox One
                </label>
            </div>

            <div class="respuestas">
                <label>
                    <input type="radio">
                    No me interesan los videojuegos
                </label>

            </div>

            <div class="respuestas" id="otra">
                <label>
                    <input type="radio">
                    Otra:
                </label>
                <input type="text">
            </div>

            <div class="boton">
                <a href="">Responder</a>
            </div>

        </div>


    </body>

</html>