@import url('https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap');
* {
    /* border: 1px solid red;  */
    margin: 0;
    padding: 0;
    font-family: 'Patrick Hand', cursive;
}

body {
    background-image: url(../img/fondo.jpg);
}


.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


li {
    list-style: none;
}

li:hover() {
    background: red;
}

.principal {
    margin-top: 13.5%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.formulario {
    background: rgb(80, 24, 24);
    width: 100%;
    border: 3px solid black;
    display: inline-block;
    flex-direction: column;
    border-radius: 25px;
}

.nuevo {
    display: flex;
    justify-content: center;
    background: gray;
    padding-left: 1em;
    border: 2px dashed black;
    margin-bottom: 1.5%;
    font-size: 1.5em;
}

.texto {
    color: white;
}

.ok {
    width: 15%;
    margin-left: 42.5%;
    margin-right: auto;
}

.enviar{
    display: flex;
    justify-content: center;
}

label {
    display: inline-block;
    width: 15%;
    margin-left: 0.5em;
}

.formulario>div {
    margin-bottom: 1em;
}

input {
    margin-bottom: 0.75em;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(34, 31, 31);
    color: white;   
}

input[type="submit"]{
    padding: 1%;
    border-radius: 30%;
}
input[type="submit"]:hover {
    background-color: rgb(51, 6, 6) !important;
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
}
/* movimiento de los botones */
@keyframes shake {
    10%, 90% {
        transform: translate3d(-2px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(5px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-5px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(5px, 0, 0);
    }
}