@import url('https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap');
* {
     /* border: 1px solid red;      */
    margin: 0;
    padding: 0;
    font-family: 'Patrick Hand', cursive;
}

header {
    background: rgb(80, 24, 24);
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5em;
}

body {
    background-image: url(../img/fondo.jpg);
}

.logo {
    content: url(../img/uchiha.png);
    width: 5%;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
}

.logo:hover {
    -webkit-animation: rotation 0.5s linear;
}
/*rotacion del logo*/
@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(359deg);
    }
    to {
        -webkit-transform: rotate(0deg);
    }
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.menu a {
    text-decoration: none;
    font-size: 1.5em;
}

li {
    list-style: none;
}

a:hover {
    background-color: rgb(22, 6, 51) !important;
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
}
/* movimiento de los botones */
@keyframes shake {
    10%, 90% {
        transform: translate3d(-2px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(5px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-5px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(5px, 0, 0);
    }
}

.log {
    background-color: rgb(80, 24, 24);
    color: white;
    width: 30%;
    height: 50%;
    display: inline-block;
    margin-top: 1%;
    margin-left: 35%;
    margin-right: auto;
    justify-content: center;
    border: 3px solid black;
    flex-direction: column;
    border-radius: 25px;
    padding: 3% 0%;
}

.mail {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    flex-wrap: wrap;
}

label {
    display: inline-block;
    width: 20%;
    padding-left: 0.45em;
}

input {
    width: 70%;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(19, 12, 12);
    color: white;
}

.password {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    flex-wrap: wrap;
}

#entrar {
    width: 30%;
    display: flex;
    justify-content: center;
    background: gray;
    padding-left: 1em;
    border: 2px dashed black;
    margin-bottom: 1.5%;
    font-size: 0.75em;
    margin-top: 14.5%;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}

a {
    color: white;
    background-color: rgb(25, 25, 26) !important;
    border: 2px solid white;
    padding: 0.2em;
    margin-left: 0.5em;
    margin-top: 0.5em;
    text-decoration: none;
}

input[type="submit"]{
    padding: 0.5%;
    width: 20%;
    margin-left: 40%;
    margin-right: auto;
}

h4{
    color: red;
}
input[type="submit"]:hover{
    background-color: grey;
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
}